VITE_SUPABASE_URL=https://kkcugqqohxfegdjipllo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrY3VncXFvaHhmZWdkamlwbGxvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTE0ODAxMTksImV4cCI6MjEwNzA1NjExOX0.VNh0oJLaCK_mdBGYQ4KNwahRqubdtNFvx5ECLyMyn0Y


# Razorpay Configuration
VITE_RAZORPAY_KEY_ID=rzp_live_TlRBFBUvlGLmWR
VITE_RAZORPAY_KEY_SECRET=LQajnLAFIWQqyWRRrGDW138f
